<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    {{> (lookup partials 'itemHeader') document=document allowsColor=true }}

    {{!-- Description Tab --}}
    <section class="sheet-body">

        {{!-- Description --}}
        <div class="form-group stacked" data-name="system.description">
            <label>{{ localize "Description" }}</label>
            {{editor descriptionHTML target="system.description" button=false editable=editable engine="prosemirror" collaborate=false}}
        </div>

        {{!-- Uses Magic Checkbox --}}
        <div class="form-group">
            <label>{{localize "Uses Magic"}}</label>
            <div class="form-fields">
                <input type="checkbox" name="system.usesMagic" data-dtype="Boolean" {{checked document.system.usesMagic}} />
            </div>
        </div>

    {{!-- Save Changes --}}
    <footer>
        <button type="submit">{{localize "Save"}}</button>
    </footer>
</form>
